body {
  background-image: url("https://www.thelist.com/img/uploads/2017/02/rsz_jogging.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  font-family: monospace;
  text-align: center;
  font-size: 20px;
}

div {
  
}

button {
  border: 2px solid black;
  padding-top: 10px;
  padding-bottom: 10px;
  color: white;
  font-weight: bold;
  width: 200px;
  margin-bottom: 5px;
  border-radius: 10px;
  cursor: pointer;
}

button:hover {
    opacity: 0.8;
}

#increment-btn {
    background-color: #00bfff;
}

#save-btn {
    background-color: #ff6347;
}

p {
    font-size: 25px; 
    color: black;
}